WSDL/Klasse/KlasseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KlasseService" 
				  targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Klasse/1/"
                  xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Klasse/1/"
                  xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy">


  <wsdl:types>
    <xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Klasse/1/">
      <xsd:include schemaLocation="KlasseServiceMsg.xsd"/>

      <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
                  schemaLocation="ServiceplatformFault_1.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="KlasseImporterRequestMessage">
    <wsdl:part name="request" element="tns:KlasseImporterRequest"/>
  </wsdl:message>
  <wsdl:message name="KlasseImporterResponseMessage">
    <wsdl:part name="response" element="tns:KlasseImporterResponse"/>
  </wsdl:message>
  <wsdl:message name="KlasseListeRequestMessage">
    <wsdl:part name="request" element="tns:KlasseListeRequest"/>
  </wsdl:message>
  <wsdl:message name="KlasseListeResponseMessage">
    <wsdl:part name="response" element="tns:KlasseListeResponse"/>
  </wsdl:message>
  <wsdl:message name="KlasseLaesRequestMessage">
    <wsdl:part name="request" element="tns:KlasseLaesRequest"/>
  </wsdl:message>
  <wsdl:message name="KlasseLaesResponseMessage">
    <wsdl:part name="response" element="tns:KlasseLaesResponse"/>
  </wsdl:message>
  <wsdl:message name="KlasseOpretRequestMessage">
    <wsdl:part name="request" element="tns:KlasseOpretRequest"/>
  </wsdl:message>
  <wsdl:message name="KlasseOpretResponseMessage">
    <wsdl:part name="response" element="tns:KlasseOpretResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassePassiverRequestMessage">
    <wsdl:part name="request" element="tns:KlassePassiverRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassePassiverResponseMessage">
    <wsdl:part name="response" element="tns:KlassePassiverResponse"/>
  </wsdl:message>
  <wsdl:message name="KlasseRetRequestMessage">
    <wsdl:part name="request" element="tns:KlasseRetRequest"/>
  </wsdl:message>
  <wsdl:message name="KlasseRetResponseMessage">
    <wsdl:part name="response" element="tns:KlasseRetResponse"/>
  </wsdl:message>
  <wsdl:message name="KlasseSletRequestMessage">
    <wsdl:part name="request" element="tns:KlasseSletRequest"/>
  </wsdl:message>
  <wsdl:message name="KlasseSletResponseMessage">
    <wsdl:part name="response" element="tns:KlasseSletResponse"/>
  </wsdl:message>
  <wsdl:message name="KlasseSoegRequestMessage">
    <wsdl:part name="request" element="tns:KlasseSoegRequest"/>
  </wsdl:message>
  <wsdl:message name="KlasseSoegResponseMessage">
    <wsdl:part name="response" element="tns:KlasseSoegResponse"/>
  </wsdl:message>
  <wsdl:message name="ServiceplatformFault">
    <wsdl:part name="error" element="spf:ServiceplatformFault"/>
  </wsdl:message>

  <wsdl:portType name="KlassePortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:KlasseOpretRequestMessage"/>
      <wsdl:output message="tns:KlasseOpretResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:KlasseImporterRequestMessage"/>
      <wsdl:output message="tns:KlasseImporterResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:KlassePassiverRequestMessage"/>
      <wsdl:output message="tns:KlassePassiverResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:KlasseLaesRequestMessage"/>
      <wsdl:output message="tns:KlasseLaesResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:KlasseRetRequestMessage"/>
      <wsdl:output message="tns:KlasseRetResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:KlasseSletRequestMessage"/>
      <wsdl:output message="tns:KlasseSletResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:KlasseSoegRequestMessage"/>
      <wsdl:output message="tns:KlasseSoegResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:KlasseListeRequestMessage"/>
      <wsdl:output message="tns:KlasseListeResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Klasse" type="tns:KlassePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="opret">
      
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/opret"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="importer">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/importer"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="passiver">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/passiver"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="laes">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/laes"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="ret">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/ret"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="slet">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/slet"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="soeg">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/soeg"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="list">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/list"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <!-- Input policy for signing input -->
  <wsp:Policy wsu:Id="Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <!-- KOMBIT SAML policy -->
  <wsp:Policy wsu:Id="STS_SAML_Token_policy">
    <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy wsp:Optional="false">
        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <!-- TODO Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
          <sp:Issuer>
            <wsa:Address>https://url-til-sts</wsa:Address>
          </sp:Issuer>
          <sp:RequestSecurityTokenTemplate>
            <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
          </sp:RequestSecurityTokenTemplate>
        </sp:IssuedToken>
        <sp:IncludeTimestamp/>
        <sp:ProtectTokens />
        <sp:OnlySignEntireHeadersAndBody/>
      </wsp:Policy>
    </sp:SignedSupportingTokens>
  </wsp:Policy>
  <!-- TLS policy for communicating with SP -->
  <wsp:Policy wsu:Id="TLS_policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="true"/>
          </wsp:Policy>
        </sp:TransportToken>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:service name="Klasse">
    <wsdl:port name="Klasse" binding="tns:Klasse">
	  <soap:address location="http://localhost:8080/service/Klassifikation/Klasse/1"/>
      <wsp:PolicyReference URI="#STS_SAML_Token_policy"/>
      <wsp:PolicyReference URI="#TLS_policy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
