WSDL/Facet/FacetService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FacetService"
                  targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Facet/1/"
                  xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Facet/1/"
                  xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy">


    <wsdl:types>
        <xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Facet/1/">
            <xsd:include schemaLocation="FacetServiceMsg.xsd"/>
            <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
                        schemaLocation="ServiceplatformFault_1.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="FacetImporterRequestMessage">
        <wsdl:part name="request" element="tns:FacetImporterRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetImporterResponseMessage">
        <wsdl:part name="response" element="tns:FacetImporterResponse"/>
    </wsdl:message>
    <wsdl:message name="FacetListeRequestMessage">
        <wsdl:part name="request" element="tns:FacetListeRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetListeResponseMessage">
        <wsdl:part name="response" element="tns:FacetListeResponse"/>
    </wsdl:message>
    <wsdl:message name="FacetLaesRequestMessage">
        <wsdl:part name="request" element="tns:FacetLaesRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetLaesResponseMessage">
        <wsdl:part name="response" element="tns:FacetLaesResponse"/>
    </wsdl:message>
    <wsdl:message name="FacetOpretRequestMessage">
        <wsdl:part name="request" element="tns:FacetOpretRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetOpretResponseMessage">
        <wsdl:part name="response" element="tns:FacetOpretResponse"/>
    </wsdl:message>
    <wsdl:message name="FacetPassiverRequestMessage">
        <wsdl:part name="request" element="tns:FacetPassiverRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetPassiverResponseMessage">
        <wsdl:part name="response" element="tns:FacetPassiverResponse"/>
    </wsdl:message>
    <wsdl:message name="FacetRetRequestMessage">
        <wsdl:part name="request" element="tns:FacetRetRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetRetResponseMessage">
        <wsdl:part name="response" element="tns:FacetRetResponse"/>
    </wsdl:message>
    <wsdl:message name="FacetSletRequestMessage">
        <wsdl:part name="request" element="tns:FacetSletRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetSletResponseMessage">
        <wsdl:part name="response" element="tns:FacetSletResponse"/>
    </wsdl:message>
    <wsdl:message name="FacetSoegRequestMessage">
        <wsdl:part name="request" element="tns:FacetSoegRequest"/>
    </wsdl:message>
    <wsdl:message name="FacetSoegResponseMessage">
        <wsdl:part name="response" element="tns:FacetSoegResponse"/>
    </wsdl:message>
    <wsdl:message name="ServiceplatformFault">
        <wsdl:part name="error" element="spf:ServiceplatformFault"/>
    </wsdl:message>


    <wsdl:portType name="FacetPortType">
        <wsdl:operation name="importer">
            <wsdl:input message="tns:FacetImporterRequestMessage"/>
            <wsdl:output message="tns:FacetImporterResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:FacetListeRequestMessage"/>
            <wsdl:output message="tns:FacetListeResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
        <wsdl:operation name="laes">
            <wsdl:input message="tns:FacetLaesRequestMessage"/>
            <wsdl:output message="tns:FacetLaesResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
        <wsdl:operation name="opret">
            <wsdl:input message="tns:FacetOpretRequestMessage"/>
            <wsdl:output message="tns:FacetOpretResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
        <wsdl:operation name="passiver">
            <wsdl:input message="tns:FacetPassiverRequestMessage"/>
            <wsdl:output message="tns:FacetPassiverResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
        <wsdl:operation name="ret">
            <wsdl:input message="tns:FacetRetRequestMessage"/>
            <wsdl:output message="tns:FacetRetResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
        <wsdl:operation name="slet">
            <wsdl:input message="tns:FacetSletRequestMessage"/>
            <wsdl:output message="tns:FacetSletResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
        <wsdl:operation name="soeg">
            <wsdl:input message="tns:FacetSoegRequestMessage"/>
            <wsdl:output message="tns:FacetSoegResponseMessage"/>
            <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Facet" type="tns:FacetPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opret">

            <soap:operation soapAction="http://kombit.dk/klassifikation/facet/opret"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="importer">
            <soap:operation soapAction="http://kombit.dk/klassifikation/facet/importer"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="passiver">
            <soap:operation soapAction="http://kombit.dk/klassifikation/facet/passiver"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="laes">
            <soap:operation soapAction="http://kombit.dk/klassifikation/facet/laes"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="ret">
            <soap:operation soapAction="http://kombit.dk/klassifikation/facet/ret"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="slet">
            <soap:operation soapAction="http://kombit.dk/klassifikation/facet/slet"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="soeg">
            <soap:operation soapAction="http://kombit.dk/klassifikation/facet/soeg"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="list">
            <soap:operation soapAction="http://kombit.dk/sts/klassifikation/facet/list"/>
            <wsdl:input>
                <!-- input policy reference -->
                <wsp:PolicyReference URI="#Input_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceplatformFault">
                <soap:fault name="ServiceplatformFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Input policy for signing input -->
    <wsp:Policy wsu:Id="Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <!-- KOMBIT SAML policy -->
    <wsp:Policy wsu:Id="STS_SAML_Token_policy">
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp:Policy wsp:Optional="false">
                <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                    <!-- TODO Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
                    <sp:Issuer>
                        <wsa:Address>https://url-til-sts</wsa:Address>
                    </sp:Issuer>
                    <sp:RequestSecurityTokenTemplate>
                        <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
                    </sp:RequestSecurityTokenTemplate>
                </sp:IssuedToken>
                <sp:IncludeTimestamp/>
                <sp:ProtectTokens />
                <sp:OnlySignEntireHeadersAndBody/>
            </wsp:Policy>
        </sp:SignedSupportingTokens>
    </wsp:Policy>
    <!-- TLS policy for communicating with SP -->
    <wsp:Policy wsu:Id="TLS_policy">
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp:Policy>
                <sp:TransportToken>
                    <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="true"/>
                    </wsp:Policy>
                </sp:TransportToken>
            </wsp:Policy>
        </sp:TransportBinding>
    </wsp:Policy>
    <wsdl:service name="Facet">
        <wsdl:port name="Facet" binding="tns:Facet">
            <soap:address location="http://localhost:8080/service/Klassifikation/Facet/1"/>
            <wsp:PolicyReference URI="#STS_SAML_Token_policy"/>
            <wsp:PolicyReference URI="#TLS_policy"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
