WSDL/Klassifikation/KlassifikationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KlassifikationService" 
				  targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Klassifikation/1/"
                  xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Klassifikation/1/"
                  xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
	              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy">


  <wsdl:types>
    <xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Klassifikation/Klassifikation/1/">
      <xsd:include schemaLocation="KlassifikationServiceMsg.xsd"/>

      <xsd:import namespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
                  schemaLocation="ServiceplatformFault_1.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="KlassifikationImporterRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationImporterRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationImporterResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationImporterResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationListeRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationListeRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationListeResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationListeResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationLaesRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationLaesRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationLaesResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationLaesResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationOpretRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationOpretRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationOpretResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationOpretResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationPassiverRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationPassiverRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationPassiverResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationPassiverResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationRetRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationRetRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationRetResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationRetResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationSletRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationSletRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationSletResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationSletResponse"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationSoegRequestMessage">
    <wsdl:part name="request" element="tns:KlassifikationSoegRequest"/>
  </wsdl:message>
  <wsdl:message name="KlassifikationSoegResponseMessage">
    <wsdl:part name="response" element="tns:KlassifikationSoegResponse"/>
  </wsdl:message>
  <wsdl:message name="ServiceplatformFault">
    <wsdl:part name="error" element="spf:ServiceplatformFault"/>
  </wsdl:message>

  <wsdl:portType name="KlassifikationPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:KlassifikationOpretRequestMessage"/>
      <wsdl:output message="tns:KlassifikationOpretResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:KlassifikationImporterRequestMessage"/>
      <wsdl:output message="tns:KlassifikationImporterResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:KlassifikationPassiverRequestMessage"/>
      <wsdl:output message="tns:KlassifikationPassiverResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:KlassifikationLaesRequestMessage"/>
      <wsdl:output message="tns:KlassifikationLaesResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:KlassifikationRetRequestMessage"/>
      <wsdl:output message="tns:KlassifikationRetResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:KlassifikationSletRequestMessage"/>
      <wsdl:output message="tns:KlassifikationSletResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:KlassifikationSoegRequestMessage"/>
      <wsdl:output message="tns:KlassifikationSoegResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:KlassifikationListeRequestMessage"/>
      <wsdl:output message="tns:KlassifikationListeResponseMessage"/>
      <wsdl:fault message="tns:ServiceplatformFault" name="ServiceplatformFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Klassifikation" type="tns:KlassifikationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="opret">
      
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/opret"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="importer">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/importer"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="passiver">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/passiver"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="laes">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/laes"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="ret">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/ret"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="slet">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/slet"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="soeg">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/soeg"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="list">
      <soap:operation soapAction="http://kombit.dk/sts/klassifikation/klassifikation/list"/>
      <wsdl:input>
	    <!-- input policy reference -->
        <wsp:PolicyReference URI="#Input_Policy"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceplatformFault"><soap:fault name="ServiceplatformFault" use="literal" /></wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <!-- Input policy for signing input -->
  <wsp:Policy wsu:Id="Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body/>
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
          <sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <!-- KOMBIT SAML policy -->
  <wsp:Policy wsu:Id="STS_SAML_Token_policy">
    <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy wsp:Optional="false">
        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <!-- TODO Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
          <sp:Issuer>
            <wsa:Address>https://url-til-sts</wsa:Address>
          </sp:Issuer>
          <sp:RequestSecurityTokenTemplate>
            <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
          </sp:RequestSecurityTokenTemplate>
        </sp:IssuedToken>
        <sp:IncludeTimestamp/>
        <sp:ProtectTokens />
        <sp:OnlySignEntireHeadersAndBody/>
      </wsp:Policy>
    </sp:SignedSupportingTokens>
  </wsp:Policy>
  <!-- TLS policy for communicating with SP -->
  <wsp:Policy wsu:Id="TLS_policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp:Policy>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="true"/>
          </wsp:Policy>
        </sp:TransportToken>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:service name="Klassifikation">
    <wsdl:port name="Klassifikation" binding="tns:Klassifikation">
	  <soap:address location="http://localhost:8080/service/Klassifikation/Klassifikation/1"/>
      <wsp:PolicyReference URI="#STS_SAML_Token_policy"/>
      <wsp:PolicyReference URI="#TLS_policy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
